<html>
    <head>
        <title>Flask-SocketIO-Chat: {{ room }}</title>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/mode-ctr.js"></script>
        <script src="https://cdn.rawgit.com/CryptoStore/crypto-js/3.1.2/build/components/mode-cfb-min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/pad-zeropadding.js"></script>
        <script src="http://crypto-js.googlecode.com/svn/tags/3.1/build/components/lib-typedarrays.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
                socket.on('connect', function() {
                    socket.emit('joined', {});
                });
                socket.on('status', function(data) {
                    $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });


                var key = CryptoJS.enc.Utf8.parse('1234567890123456');
                var hmacKey = CryptoJS.enc.Utf8.parse('1234567890123456');                    

                function decrypt(ciphertextStr, key) {
                    var ciphertext = CryptoJS.enc.Base64.parse(ciphertextStr);

                    // split IV and ciphertext
                    var iv = ciphertext.clone();
                    iv.sigBytes = 16;
                    iv.clamp();
                    ciphertext.words.splice(0, 4); // delete 4 words = 16 bytes
                    ciphertext.sigBytes -= 16;

                    // decryption
                    var decrypted = CryptoJS.AES.decrypt({ciphertext: ciphertext}, key, {
                        iv: iv
                    });
                    return decrypted.toString(CryptoJS.enc.Utf8);
                }

                function encrypt_sign(msgString, key1, key2) {
                    // msgString is expected to be Utf8 encoded
                    var iv = CryptoJS.lib.WordArray.random(16);
                    var encrypted = CryptoJS.AES.encrypt(msgString, key1, {
                        iv: iv
                    });

                    var concat = iv + encrypted.ciphertext;
                    var hash = CryptoJS.HmacSHA256(CryptoJS.enc.Hex.parse(concat), key2);
                    var registrationKey = iv + encrypted.ciphertext + hash;
                    return CryptoJS.enc.Hex.parse(registrationKey).toString(CryptoJS.enc.Base64)
                    //return iv.concat(encrypted.ciphertext).toString(CryptoJS.enc.Base64);
                }



                $('#text').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        text = $('#text').val();
                        $('#text').val('');
                        socket.emit('text', {msg: encrypt(text,key)});
                    }
                });

                socket.on('message', function(data) {
                    var cipher =  data['cipher'];
                    //var key = data['key'];
                    //key = CryptoJS.enc.Hex.parse(data['key'])
                    dec = decrypt(cipher,key)

                    $('#chat').val($('#chat').val() + data.msg + ':'+ dec + '\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                    console.log(dec)
                });

            });
            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();

                    // go back to the login page
                    window.location.href = "{{ url_for('main.index') }}";
                });
            }
        </script>
    </head>
    <body>
        <h1>Flask-SocketIO-Chat: {{ room }}</h1>
        <textarea id="chat" cols="80" rows="20"></textarea><br><br>
        <input id="text" size="80" placeholder="Enter your message here"><br><br>
        <a href="#" onclick="leave_room();">Leave this room</a>
    </body>
</html>
