<html>
    <head>
        <title>Flask-SocketIO-Chat: {{ room }}</title>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/mode-ctr.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/pad-zeropadding.js"></script>
        <script src="http://crypto-js.googlecode.com/svn/tags/3.1/build/components/lib-typedarrays.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
                socket.on('connect', function() {
                    socket.emit('joined', {});
                });
                socket.on('status', function(data) {
                    $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                socket.on('message', function(data) {
                    //$('#chat').val($('#chat').val() + data.msg + '\n');
                    //$('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                $('#text').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        text = $('#text').val();
                        $('#text').val('');
                        socket.emit('text', {msg: text});
                    }
                });


                function arrayBufferToWordArray(ab) {
                  var i8a = new Uint8Array(ab);
                  var a = [];
                  for (var i = 0; i < i8a.length; i += 4) {
                    a.push(i8a[i] << 24 | i8a[i + 1] << 16 | i8a[i + 2] << 8 | i8a[i + 3]);
                  }
                  return CryptoJS.lib.WordArray.create(a, i8a.length);
                }
                socket.on('enc_msg', function(data) {
                    console.log(data)
                    //var wordArray = CryptoJS.lib.WordArray.create(arrayBuffer);
                    var cipher =  data['cipher'];
                    var key = data['key'];
                    var iv = data['iv'];


                    var i = new Uint16Array(key)[0];
                    console.log(i)


                    //console.log(cipher)
                    _cipher = arrayBufferToWordArray(cipher)
                    _key = arrayBufferToWordArray(key)
                    console.log(_key)
                    _iv = arrayBufferToWordArray(iv)

                    console.log(_cipher)
                    console.log(_key)
                    console.log(_iv)
                    /*
                    var key = "0000000000000000"

                    
                    var iv = "00000000"
                    
                    var _data = byteArrayToWordArray(cipher);

                    var _key = byteArrayToWordArray(key);
                    var _iv = CryptoJS.enc.Hex.parse(iv);


                    console.log(_data)
                    console.log(_key)
                    console.log(_iv)
                    
                    encrypted = CryptoJS.AES.encrypt(
                      data, //If I pass WordArray here, chrome frozen, not sure what formate of data should be here. I saw an example using Utf8, but my hex failed to transfer to Utf8 
                      _key,  // pass WordArray
                      {iv: _iv, // pass WordArray
                       mode: CryptoJS.mode.CTR,
                       padding: CryptoJS.pad.ZeroPadding
                     })


                    console.log(encrypted.ciphertext.toString())
                    
                       */             
                    decrypted = CryptoJS.AES.decrypt(
                      _cipher, //If I pass WordArray here, chrome frozen, not sure what formate of data should be here. I saw an example using Utf8, but my hex failed to transfer to Utf8 
                      _key,  // pass WordArray
                      {iv: _iv
                     })

                    console.log(decrypted.toString(CryptoJS.enc.Utf8))
                    
                    
                });

            });
            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();

                    // go back to the login page
                    window.location.href = "{{ url_for('main.index') }}";
                });
            }
        </script>
    </head>
    <body>
        <h1>Flask-SocketIO-Chat: {{ room }}</h1>
        <textarea id="chat" cols="80" rows="20"></textarea><br><br>
        <input id="text" size="80" placeholder="Enter your message here"><br><br>
        <a href="#" onclick="leave_room();">Leave this room</a>
    </body>
</html>
